.parallax {
    
    background-image: url("/assets/coin.jpg");
  
   
    height: 250px;
  
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }